.main-header .navbar {
    background-color: #24292e !important;
}

.skin-blue .wrapper {
    background-color: transparent !important;
}

.alert {
    font-size: 1.2em;
}

input[type=file] {
    padding: 0;
}

.callout {
    margin: 10px 0 10px 0;
}

.atmodel-widget {
    display: block;
}

.atmodel-widget .box-title {
    font-size:1.5em;
}

.atmodel-widget-img {
    height: 250px;
}

.img-edit, .atmodel-widget-img {
    background-color: rgba(0,0,0,0.2) !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    overflow: hidden;
}

.atmodel-options {
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

.nav-title {
    margin: 0;
}

.atmodel-title {
    margin-bottom: 1em;
    margin-top: 0;
}

.atmodel-title small {
    font-size: 0.5em;
}

ul.row {
    margin: 0;
    padding-left: 0;
}

.gallery-img-container {
    margin: 0.2em;
    padding: 0.3em;
    background-color: #e3e3e3;
    list-style: none;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.gallery-img {
    width: auto;
    height: 100%;
    cursor: pointer;
    margin: 0 auto;
}

.pager a {
    font-size: 1.4em;
}

.next a {
    border-top-left-radius: initial !important;
    border-bottom-left-radius: initial !important;
}

.previous a {
    border-top-right-radius: initial !important;
    border-bottom-right-radius: initial !important;
}

.nav i.fa {
    margin-right: 1em;
}

body.contrast {
   background-color: #fefefe;
   filter: invert(100%);
   font-weight: bold;
   text-transform: uppercase;
}

body.contrast img:not([src*=".svg"]),
body.contrast video,
body.contrast .atmodel-widget-img,
body.contrast .alert,
body.contrast .btn,
body.contrast .img-edit {
   filter: inherit;
   filter: invert(100%);
}

.index-logo {
    width: 100%;
    height: auto;
}

#main-nav a {
    color: black;
}
#main-nav a:hover {
    background-color: initial;
    border-bottom: 2px solid black;
}

.login-page div.input, .login-page .submit {
    margin: 1em;
}

ul.atmodel-user {
    display: block;
}

.atmodel-user li {
    padding: 1em;
    font-size: 1.1em;
}

.user-model {
    border-bottom: 1px solid whitesmoke;
}

.atmodels-user-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.atmodels-user-list li {
    padding: 0.5em;
    margin: 0.5em;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.example-modal .modal {
  background: transparent !important;
}
